# ==========================
# Ignorer les secrets
# ==========================
.env
.env.local
.env.*.local

# ==========================
# Ignorer les dépendances
# ==========================
node_modules/
pnpm-lock.yaml
yarn.lock
package-lock.json

# ==========================
# Ignorer les builds Expo & RN
# ==========================
.expo/
.expo-shared/
dist/
web-build/

# ==========================
# Ignorer Android
# ==========================
android/.gradle/
android/app/build/
android/build/

# ==========================
# Ignorer iOS
# ==========================
ios/Pods/
ios/build/
*.xcworkspace
*.xcuserdata
*.xcuserstate

# ==========================
# Ignorer macOS et Windows
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Ignorer Firebase functions
# ==========================
functions/node_modules/
functions/lib/

# ==========================
# Logs & caches
# ==========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
.cache/
