# 📦 Dépendances Node
node_modules/

# ⚙️ Expo & builds
.expo/
dist/
web-build/
expo-env.d.ts

# 📁 Environnements locaux
.env            # ⛔ fichier .env principal
.env.*          # ⛔ tous les .env.staging, .env.production, etc.
.env*.local     # ⛔ tous les .env.local, .env.development.local, etc.

# 🛠️ Clés & certificats sensibles
*.key
*.pem
*.jks
*.p8
*.p12
*.mobileprovision

# 🧪 Fichiers de debug
npm-debug.*
yarn-debug.*
yarn-error.*

# 🍎 macOS
.DS_Store

# 🧮 Typescript
*.tsbuildinfo

# 🧱 Kotlin native (si jamais tu ejectes d’Expo)
.kotlin/
*.orig.*

# 🚇 Metro
.metro-health-check*

# 🔥 Firebase / Cloud Functions (optionnel si tu as ce dossier)
functions/lib/
functions/node_modules/
functions/.env

# 🧪 Exemples ou apps de test
app-example/

# 🧾 Plateformes de déploiement
.vercel/
.netlify/
